<tr>
    <td rowspan="20">[VO]_Leuchte <span data-content="index"></span><span data-content="name"></span></td>
    <td>0</td>
    <td>-</td>
    <td>[LO]_Lasttyp <span data-content="index"></span></td>
    <td>
        <span data-content="lasttyp"></span>
    </td>
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="lasttypHex">Hex</span>
            </div>
            <input type="text" class="form-control">
            <br>
            <div class="input-group-prepend">
                <span class="input-group-text" id="lasttypeDec">Dec</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </td>
</tr>
<tr>
    <td>1</td>
    <td>-</td>
    <td>[LO]_Lampendefektbit Position <span data-content="index"></span></td>
    <td>
        <span data-content="lampendefektbiposition"></span>
    </td>
    <td>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Hex</span>
            </div>
            <input type="text" class="form-control">
            <br>
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Dec</span>
            </div>
            <input type="text" class="form-control">
        </div>
    </td>
</tr>
<tr>
    <td>2</td>
    <td>-</td>
    <td>
        ----
    </td>
    <td>
        <span data-content="reserved"></span>
    </td>
</tr>
<tr>
    <td>3</td>
    <td>-</td>
    <td>[LO]_Fehlerort mittleres Byte DTC-DFCC <span data-content="index"></span></td>
    <td>
        <span data-content="fehlerort"></span>
    </td>
</tr>
<tr>
    <td>4</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion A <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionA"></span>
    </td>
</tr>
<tr>
    <td>5</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion B <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionB"></span>
    </td>
</tr>
<tr>
    <td>6</td>
    <td>0-6</td>
    <td>[LO]_Dimmwert AB <span data-content="index"></span></td>
    <td>
        <span data-content="dimmwertab"></span>
    </td>
</tr>
<tr>
    <td>6</td>
    <td>7</td>
    <td>[LO]_Lichtansteuerung HD AB <span data-content="index"></span></td>
    <td>
        <span data-content="lichtansteurerungab"></span>
    </td>
</tr>
<tr>
    <td>7</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion C <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionC"></span>
    </td>
</tr>
<tr>
    <td>8</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion D <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionD"></span>
    </td>
</tr>
<tr>
    <td>9</td>
    <td>0-6</td>
    <td>[LO]_Dimmwert CD <span data-content="index"></span></td>
    <td>
        <span data-content="dimmwertcd"></span>
    </td>
</tr>
<tr>
    <td>9</td>
    <td>7</td>
    <td>[LO]_Lichtansteuerung HD CD <span data-content="index"></span></td>
    <td>
        <span data-content="lichtansteurerungcd"></span>
    </td>
</tr>
<tr>
    <td>10</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion E <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionE"></span>
    </td>
</tr>
<tr>
    <td>11</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion F <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionF"></span>
    </td>
</tr>
<tr>
    <td>12</td>
    <td>0-6</td>
    <td>[LO]_Dimmwert EF <span data-content="index"></span></td>
    <td>
        <span data-content="dimmwertef"></span>
    </td>
</tr>
<tr>
    <td>12</td>
    <td>7</td>
    <td>[LO]_Lichtansteuerung HD EF <span data-content="index"></span></td>
    <td>
        <span data-content="lichtansteurerungef"></span>
    </td>
</tr>
<tr>
    <td>13</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion G <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionG"></span>
    </td>
</tr>
<tr>
    <td>14</td>
    <td>-</td>
    <td>[LO]_Lichtfunktion H <span data-content="index"></span></td>
    <td>
        <span data-content="lichtfunktionH"></span>
    </td>
</tr>
<tr>
    <td>15</td>
    <td>0-6</td>
    <td>[LO]_Dimmwert GH <span data-content="index"></span></td>
    <td>
        <span data-content="dimmwertgh"></span>
    </td>
</tr>
<tr>
    <td>15</td>
    <td>7</td>
    <td>[LO]_Lichtansteuerung HD GH <span data-content="index"></span></td>
    <td>
        <span data-content="lichtansteurerunggh"></span>
    </td>
</tr>

<div data-template-bind='[
            {"attribute": "data-index", "value": "index"},
            {"attribute": "data-name", "value": "name"},
            {"attribute": "data-lasttyp", "value": "lasttyp"},
            {"attribute": "data-fehlerort", "value": "fehlerort"},
            {"attribute": "data-reserved", "value": "reserved"},
            {"attribute": "data-lichtfunktionA", "value": "lichtfunktionA"},
            {"attribute": "data-lichtfunktionB", "value": "lichtfunktionB"},
            {"attribute": "data-lichtfunktionC", "value": "lichtfunktionC"},
            {"attribute": "data-lichtfunktionD", "value": "lichtfunktionD"},
            {"attribute": "data-lichtfunktionE", "value": "lichtfunktionE"},
            {"attribute": "data-lichtfunktionF", "value": "lichtfunktionF"},
            {"attribute": "data-lichtfunktionG", "value": "lichtfunktionG"},
            {"attribute": "data-lichtfunktionH", "value": "lichtfunktionH"},
            {"attribute": "data-dimmwertab", "value": "dimmwertab"},
            {"attribute": "data-dimmwertcd", "value": "dimmwertcd"},
            {"attribute": "data-dimmwertef", "value": "dimmwertef"},
            {"attribute": "data-dimmwertgh", "value": "dimmwertgh"},
        ]'>
</div>
